{{define "title"}}Late Punch Out{{end}}

{{define "main"}}
<div class="center">
{{if .Flash}}<p class="flash">{{.Flash}}</p>{{end}}

<h1>Forgot to punch out?</h1>
<form action="/punch/late" method="POST">
    <label for="pin">PIN</label>
    <input type="password" inputmode="numeric" id="pin" name="pin" autofocus required>

    <label for="end_time">What time did you finish?</label>
    <input type="time" id="end_time" name="end_time" required>

    <button type="submit">Submit</button>
</form>
</div>
{{end}}
