[Unit]
Description=Klaus Field Log
After=network.target

[Service]
Type=simple
User=tklaus
WorkingDirectory=/opt/klapp
ExecStart=/opt/klapp/web
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
